body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#game {
	width:600px;
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	margin: auto;
	margin-top: calc((100vh - 600px)/2);
}

.gameField {
	width: calc(100% * (1/4) - 2px);
	height: calc(600px/4 - 4px);
	background-color: red;
	border-top: 1px solid white;
	border-left: 2px solid white;
	box-shadow: 3px 3px 5px #777;
	text-align: center;
	vertical-align: middle;
	color:white;
	vertical-align: middle;
	line-height: calc(600px/4 - 4px);
	text-transform: uppercase;
	font-size:calc(600px/4 - 50px);
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none;
}
.gameField:hover{
	cursor: pointer;
	background-color: yellow;
}
.matched {
	opacity: 0.05;	
}
.matched:hover {
	cursor: auto;
	opacity: 0.05;	
}
.active {
	background-color: rgba(255, 0, 0, 0.85);
	color:white;
}
.active:hover{
	background-color: rgba(255, 0, 0, 0.85);
	color:white;
}

